
<div class="signup">
    <div class="dark-curtain"></div>
    <div class="d-flex justify-content-center app-form-container">
        <div class="shadow-lg card sign-up-card">
            <div class="card-body">
                <img src="./assets/ION_logo.png" alt="ION Group" class="ion-logo">
                <h2 class="card-title mb-4 text-center">ION Birthday Notifier</h2>
                <h4 class="card-title mb-4 text-center">Create Your Account!</h4>
                <div class="card-text mb-4">
                    <div id="wrap_name" class=" mb-3">
                        <input required ng-model="Name" placeholder="Name" class="form-control rounded-lg" type="text">
                        <span ng-class = "{'show-inline-error':show_error.name,'hide-inline-error':!(show_error.name)}" id="err_name" class="text-danger">*Name field contains nothing, or more than one white space together, or something else than alphabets</span>
                    </div>
                    <div id="wrap_input" class="input-group mb-3 d-flex flex-row">
                        <input required placeholder="Birth(mm/dd/yyy)" ng-model="BirthDate" id="BirthDate" class="birthday-input form-control rounded-lg" type="text">
                        <span ng-class = "{'show-inline-error':show_error.dob,'hide-inline-error':!(show_error.dob)}" id="err_birth" class="text-danger">*Are you born in future?</span>
                        <div class="ml-auto input-group-prepend">
                            <span class="input-group-text" id="prepend-employee-code">C-</span>
                        </div>
                        <input required  ng-model="empId" placeholder="Employee Id" class="employeeId-input form-control rounded-lg" type="text" aria-describedby="prepend-employee-code">
                        <span ng-class = "{'show-inline-error':show_error.empId,'hide-inline-error':!(show_error.empId)}" id="err_empId" class="ml-3 text-danger">*Incorrect format of empId</span>
                    </div>
                    <div id="email-input-wrapper" class="input-group mb-3">
                        <input required ng-model="Email" placeholder="Email" class="form-control rounded-lg" type="text" aria-describedby="append_email">
                        <div class="input-group-append">
                            <span class="input-group-text" id="append_email">@iongroup.com</span>
                        </div>
                        <span ng-class = "{'show-inline-error':show_error.email,'hide-inline-error':!(show_error.email)}" id="err_email" class="ml-3 text-danger">*Incorrect format of email</span>
                        <span ng-class = "{'show-inline-error':show_error.email_exist,'hide-inline-error':!(show_error.email_exist)}" id="err_email_exists" class="ml-3 text-danger">*Email already exists</span>
                    </div>
                    <div id="wrap_pass" class="mb-3 d-flex flex-row">
                        <input required ng-model="pass" placeholder="Password" class="pass-input form-control rounded-lg" type="password">
                        <span ng-class = "{'show-inline-error':show_error.pass,'hide-inline-error':!(show_error.pass)}" id="err_pass" class="ml-3 text-danger">*Password length must be greater than five</span>
                        <input required ng-model="confirm_pass" placeholder="Confirm Password" class="confirm-pass-input form-control rounded-lg" type="password">
                        <span ng-class = "{'show-inline-error':show_error.cpass,'hide-inline-error':!(show_error.cpass)}" id="err_cpass" class="ml-3 text-danger">*Passwords dont match</span>
                    </div>
                </div>
                <a href="#"id="RegisterPerson" class="btn btn-primary px-auto ">Sign Up!</a>
                <a ui-sref="signin" class="text-right login-link">Back to Login Screen?</a>
            </div>
        </div>
    </div>
</div>